header {
    width: 100%;
    position: absolute;
  }
  
  .HeaderContainer {
    margin: 0 15px;
    padding: 10px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
  }
  
  .Header_image {
    align-self: center;
  }
  
  .Header_image:hover {
    opacity: 0.8;
  }
  
  .Header_image >img{
    display: block;
    width: auto;
    height: 20px;
  }
  
  .Header_list {
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    list-style: none;
  }
  
  .NavItem {
    text-align: center;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    font-weight: bold;
  }
  
  .NavItem:hover {
    opacity: 0.7;
  }
  
  .NavItem_link {
    text-decoration: none;
    color: black;
    display: block;
  }
  
  .NavItem_link>span {
    display: block;
  }
  
  .NavItem_link>span:last-child {
    font-size: 9px;
  }
  
  .NavItem_button {
    color: white;
    text-decoration: none;
    align-items: center;
    background-color: orange;
    border-radius: 30px;
    display: flex;
    height: 40px;
    padding: 0 20px;
  }
