body {
  background-image: url('background-image.jpg');
  background-size: cover;
}

.firstViewContainer {
  height: 600px;
  width: 100%;
  background-image: url('karaage-top.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstViewContainer h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "游ゴシック";
}

.moreLink {
  margin-top: 20px;
}
