<div class="container mt-5 pt-5">
  <%= render_breadcrumbs builder: ::CustomBreadcrumbsBuilder %>
  <h2>レビューを投稿する</h2>
  <%= render "shared/errors" %>
  <div class="review-container">
    <%= render "shared/reviews/form" %>
  </div>
</div>
