<div class="Header">
      <div class="HeaderContainer">
        <h1>
          <%= link_to "Myからあげ",root_path %>
        </h1>
          
        <nav class="Header_item">
          <div class="Humberger_menu">
            <span class="Humberger_line"></span>
            <span class="Humberger_line"></span>
            <span class="Humberger_line"></span>
          </div>
          <ul class="Header_list">
            <li class="NavItem">
              <a class="NavItem_link" href="https://camp.potepan.com/content"><span>CONTENT</span><span>学習内容</span></a>
            </li>
            <li class="NavItem">
              <a class="NavItem_link" href="https://camp.potepan.com/interview"><span>INTERVIEW</span><span>受講生の声</span></a>
            </li>
            <li class="NavItem">
              <a class="NavItem_link" href="https://camp.potepan.com/faq"><span>FAQ</span><span>よくある質問</span></a>
            </li>
            <li class="NavItem">
              <a class="NavItem_link" href="https://camp.potepan.com/recruit"><span>RECRUIT</span><span>採用企業様へ</span></a>
            </li>
            <li class="NavItem">
              <a class="NavItem_link" href="https://camp.potepan.com/download"><span>DOUUMENT</span><span>資料請求</span></a>
            </li>
            <li class="NavItem">
              <a class="NavItem_button" href="https://camp.potepan.com/contact">無料カウンセリング</a>
            </li>
          </ul>
        </nav>
      </div>  
</div>
